/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 * {
  margin: 0;
  box-sizing: border-box;
 }

 h1, h2 {
  font-family: 'Oswald', sans-serif;
 }

 button {
  font-family: 'Quattrocento', serif;
 }

 .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 .player-action-container {
  display: flex;
 }

 .player-action-container button {
  margin: 5px;
  width: 75px;
  height: 35px;
 }

 .player-box {
  border: 1px solid black;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
 }

 .card {
  width: 75px;
  margin: 5px;
 }
