<h1>Blackjack</h1>

<% if $my_cards.count > 0%>
  <form action="/hit">
    <button>Hit</button>
  </form>

  <form action="/stay">
    <button>Stay</button>
  </form>
<% end %>

<ul>
  <% $my_cards.each do |card| %>
    <li><%= card.name %></li>
  <% end %>
</ul>

<h2>My Score: <%= $my_score %></h2>

<ul>
  <% $comp_cards.each do |card| %>
    <li><%= card.name %></li>
  <% end %>
</ul>
<h2>Dealer Score: <%= $comp_score %></h2>

<form action="/new">
  <button>New Game</button>
</form>
